<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="HospitalManagementDB"
			 connectionString="Server=ZEFYRUS\\SQLEXPRESS,1433; Database=HospitalManagementSystem; User Id=ZEFYRUS\\ADARSH SHARMA; "
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
